
.container {
    display: flex; /* or inline-flex */
    flex-direction: column;
  }

.header__title {
    font-family: 'Work Sans', sans-serif;
    font-size: 4em;
}

.button__style {
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
}


.responsive__img {
    width: 50vw;
    height: auto;
}

.ul__style {
    padding: 0;
}